.first_name{
  width: 120px;
  margin-right: 3px;
  padding: 8px 3px;
  border-radius: 5px;
  border: solid 1px gray;
}

.second_name{
  width: 120px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 8px 3px;
  border-radius: 5px;
  border: solid 1px gray;
}

.email{
  display: block;
  width: 256px;
  margin-bottom: 10px;
  padding: 8px 3px;
  border-radius: 5px;
  border: solid 1px gray;
}

button{
  background-color: rgb(0, 110, 255);
  padding: 10px 105px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor:pointer;
}

