div{
  background-color: white;
  width: 150px;
  border: solid 0.5px rgb(189, 187, 187);
  font-family: Arial, Helvetica, sans-serif;
}

.avatar{
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 0px;
}

.name{
  margin: 5px 5px 0px 5px;
  font-size: 18px;
  font-weight: bold;
}

.mutual_friends{
  margin: 5px 5px 15px 5px;
  font-size: 14px;
  color: gray;
}

.add_button{
  background-color: rgb(1, 105, 223);
  margin: 0px 0px 10px 5px;
  padding: 8px 18px;
  color: white;
  border:none;
  border-radius: 5px;
}